<%= search_form_for @q, url:search_path do |f| %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= icon("far", "futbol", class: "soccer-icon") %>
      <%= f.label :対象年齢別：検索 %>
    </div>
    <div class="col-4"><%= f.radio_button :age_type_eq, 1 %></div>
    <div class="col-8">小学生以下</div>
    <div class="col-4"><%= f.radio_button :age_type_eq, 2 %></div>
    <div class="col-8">中学生</div>
    <div class="col-4"><%= f.radio_button :age_type_eq, 3 %></div>
    <div class="col-8">高校生</div>
    <div class="col-4"><%= f.radio_button :age_type_eq, 4 %></div>
    <div class="col-8">社会人</div>
    <div class="col-4"><%= f.radio_button :age_type_eq, 5 %></div>
    <div class="col-8">全対象</div>
    <div class="col-12 search-btn">
      <%= button_tag :type => "submit", :class =>"btn btn-secondary" do %>
        検索&nbsp;<i class="fa fa-search"></i>
        <% end %>
    </div>
  </div>
</div>
<% end %>
