<div class="search-age-type">
  <%= search_form_for @q, url:search_path do |f| %>
    <label　class="radio">
      <%= icon("far", "futbol", class: "soccer-icon") %>
      <%= f.label :対象年齢別 %>
      <%= icon("far", "futbol", class: "soccer-icon") %><br>
    </label>
    <label>
      <%= f.radio_button :age_type_eq, 1, class: "radio-btn" %>小学生
    </label>
    <label>
      <%= f.radio_button :age_type_eq, 2, class: "radio-btn" %>中学生
    </label>
    <label>
      <%= f.radio_button :age_type_eq, 3, class: "radio-btn" %>高校生
    </label>
    <label>
      <%= f.radio_button :age_type_eq, 4, class: "radio-btn" %>社会人
    </label>
    <label>
      <%= f.radio_button :age_type_eq, 5, class: "radio-btn" %>全対象
    </label>
    <%= f.submit "対象別:検索", class: 'search-radio-btn' %>
  <% end %>
</div>
