<% if logged_in? %>
<div class="container">
  <div class="row">
    <%= render 'layouts/search' %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="user-area">
        <%= render 'shared/user_info' %>
      </div>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <div class="search-age-type">
        <%= render 'search-age-type' %>
      </div>
      <div class="search-category">
        <%= render 'search-category' %>
      </div>
    </div>
    <div class="main-feed col-sm-12 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/">最新投稿</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static_pages/likes">人気投稿順</a>
        </li>
      </ul>

      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center">
  <h1 class="app-title">SOCEER APP </h1>
  <h2 class="copy">
     SOCCER APPはサッカーが上手くなりたい人の為の<br>
     コミュニティサイトです。
  </h2>
  <div class="topbtn">
  <%= link_to "新規登録", signup_path, class: "topbtn__item" %>
  <%= link_to "ログイン", login_path, class: "topbtn__item" %>
  <%= link_to "ゲストログイン(閲覧用)", guest_sign_in_path ,class: "topbtn__item", method: :post  %>
  </div>
</div>
</div>
<% end %>
