<div class="container">
  <div class="row">
  <%= render 'layouts/search' %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="user-area">
        <%= render 'shared/user_info' %>
      </div>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <div class="search-age-type">
        <%= render 'search-age-type' %>
      </div>
      <div class="search-category">
        <%= render 'search-category' %>
      </div>
    </div>
    <div class="main-feed col-sm-12 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">最新投稿</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/static_pages/likes">人気投稿順</a>
        </li>
      </ul>
      <ol class="posts">
        <%= render @feed_items %>
      </ol>
    </div>
  </div>
</div>
