<div class="container">
  <%= render 'layouts/search' %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user-area">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'search-age-type' %>
      </section>
      <section>
        <%= render 'search-category' %>
      </section>
    </aside>
    <div class="main-feed col-md-8">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><%= link_to("最新投稿", root_path) %></li>
        <li role="presentation" class="active"><%= link_to("いいね数順", "/static_pages/likes") %></li>
      </ul>
      <ol class="posts">
        <%= render @all_ranks %>
      </ol>
    </div>
  </div>
</div>
