<div class="search-result">
  <%= render 'layouts/search' %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user-area">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'search-age-type' %>
      </section>
      <section>
        <%= render 'search-category' %>
      </section>
    </aside>
  <div class="main-feed col-md-8">
    <ol class="posts">
      <h3>検索結果</h3>
      <%= render @feed_items %>
      <%= link_to "戻る", root_path, class: "btn btn-primary" %>
    </ol>
  </div>
</div>
