<div class="container">
  <div class="row">
    <%= render 'layouts/search' %>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="user-area">
        <%= render 'shared/user_info' %>
      </div>
      <div class="stats">
        <%= render 'shared/stats' %>
      </div>
      <div class="search-age-type">
        <%= render 'search-age-type' %>
      </div>
      <div class="search-category">
        <%= render 'search-category' %>
      </div>
    </div>
  <div class="main-feed col-sm-12 col-md-8">
    <ol class="posts">
      <%= link_to "戻る", root_path, class: "btn btn-primary" %>
      <div class="main-title">検索結果</div>
      <%= render @feed_items %>
      <%= link_to "戻る", root_path, class: "btn btn-primary" %>
    </ol>
  </div>
</div>
