<!-- いいね一覧ページ -->
<div class="container">
  <div class="row likes-post">
      <h2>
        <%= icon("far", "futbol", class: "soccer-icon") %>
        チェック一覧
      </h2>
      <ol class="posts">
      <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <li id="post-<%= post.id %>">
        <%= link_to gravatar_for(post.user, size: 50), post.user %>
        <span class="title"><%= link_to(post.title, "/posts/#{post.id}") %></span>
        <span class="content"><%= post.content %></span>
        <span class="timestamp">
          投稿者 <%= link_to post.user.name, post.user %>
          投稿日 <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
          <%= link_to "いいね数", "#" %>
          <% if current_user?(post.user) %>
            <%= link_to "削除", post, method: :delete,
                                         data: { confirm: "本当ですか?" } %>
          <% end %>
      <% end %>
      </ol>
  </div>
</div>
