<% provide(:title, @user.name) %>
<div class="container">
  <div class="main-title">
    プロフィール
  </div>

  <div class="row mypage-main">
    <div class="mypage-info col-md-6 offset-md-3">
    <div class="mypage-img">
      <% if @user.image? %>
          <%= image_tag @user.image.thumb50.url, class: "circle" %>
      <% else %>
          <%= image_tag "default.jpg", class: "circle" %>
      <% end %>
    </div>
    <div class="d-inline-block mypage-stats">
      ユーザー名:<%= @user.name %><br>
      投稿数: <%= @user.posts.count %><br>
      <%= icon("far", "futbol", class: "soccer-icon") %>
      チェック数:<%= @likes_count %><br>
      <%= render 'shared/stats' %>
    </div>
      <%= render 'follow_form' if logged_in? %>
    </div>
  </div>
  <div class="main-title">
    <%= icon("far", "futbol", class: "soccer-icon") %>
    投稿
    <%= icon("far", "futbol", class: "soccer-icon") %>
  </div>
  <div class="row mypage-content">
    <div class="mypage-feed col-md-8 offset-md-2">
      <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <% end %>
    </div>
  </div>
</div>
