<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field row post-title">
    <%= f.text_area :title, placeholder: "タイトル" %>
  </div>
  <div class="field row">
    <%= f.text_area :content, class: "content-form", placeholder: "本文：サッカーの技術、戦術、知識について投稿しよう" %>
  </div>
  <div class="field row post-youtube-url">
    <%= f.text_area :youtube_url, class: "post-youtube-url", placeholder: "参考YouTube動画があればURLを記載してください" %>
  </div>
  <div class="field row age-type-row">
    <span class="age-type-radio">対象年齢</span>
    <div class="radio-inline age-type-radio">
      <%= f.radio_button :age_type, :小学生以下 %>
      <%= f.label :小学生以下, class: "age-type-label" %>
    </div>
    <div class="radio-inlin age-type-radio">
      <%= f.radio_button :age_type, :中学生 %>
      <%= f.label :中学生, class: "age-type-label" %>
    </div>
    <div class="radio-inline age-type-radio">
      <%= f.radio_button :age_type, :高校生 %>
      <%= f.label :高校生, class: "age-type-label" %>
    </div>
    <div class="radio-inline age-type-radio">
      <%= f.radio_button :age_type, :社会人 %>
      <%= f.label :社会人, class: "age-type-label" %>
    </div>
    <div class="radio-inline age-type-radio">
      <%= f.radio_button :age_type, :全対象 %>
      <%= f.label :全対象, class: "age-type-label" %>
    </div>
  </div>
  <div class="field row category-row">
    <span class="category-radio">カテゴリー</span>
    <div class="radio-inline category-radio">
      <%= f.radio_button :category, :戦術 %>
      <%= f.label :戦術, class: "category-label" %>
    </div>
    <div class="radio-inlin category-radio">
      <%= f.radio_button :category, :技術 %>
      <%= f.label :技術, class: "category-label" %>
    </div>
    <div class="radio-inline category-radio">
      <%= f.radio_button :category, :知識 %>
      <%= f.label :知識, class: "category-label" %>
    </div>
    <div class="radio-inline category-radio">
      <%= f.radio_button :category, :メンタル %>
      <%= f.label :メンタル, class: "category-label" %>
    </div>
    <div class="radio-inline category-radio">
      <%= f.radio_button :category, :練習メニュー %>
      <%= f.label :練習メニュー, class: "category-label" %>
    </div>
    <div class="radio-inline category-radio">
      <%= f.radio_button :category, :その他 %>
      <%= f.label :その他, class: "category-label" %>
    </div>
  </div>

  <div class="col-md-2 post-btn">
  <%= f.submit "投稿する", class: "btn btn-primary" %>
  </div>
<% end %>
