<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field row post-title">
    <%= f.text_area :title, placeholder: "タイトル" %>
  </div>
  <div class="field row">
    <%= f.text_area :content, class: "content-form", placeholder: "本文：サッカーの技術、戦術、知識について投稿しよう" %>
  </div>
  <div class="field row post-youtube-url">
    <%= f.text_area :youtube_url, class: "post-youtube-url", placeholder: "参考YouTube動画：URLを記載してください" %>
  </div>
  <div class="radio-vertical row justify-content-around">
    <div class="col-5.5 age-type">
      <legend class="col-form-label">対象年齢</legend>
      <label class="age-type-label"><%= f.radio_button :age_type, 1, class: "age_type_label"%>小学生以下</label>
      <label class="age-type-label"><%= f.radio_button :age_type, 2, class: "age_type_label"%>中学生</label>
      <label class="age-type-label"><%= f.radio_button :age_type, 3, class: "age_type_label"%>高校生</label>
      <label class="age-type-label"><%= f.radio_button :age_type, 4, class: "age_type_label"%>社会人</label>
      <label class="age-type-label"><%= f.radio_button :age_type, 5, class: "age_type_label"%>全対象</label>
    </div>
    <div class="col-5.5 category">
      <legend class="col-form-label">カテゴリー</legend>
      <label class="category-label"><%= f.radio_button :category, 1, class: "age_type_label"%>戦術</label>
      <label class="category-label"><%= f.radio_button :category, 2, class: "age_type_label"%>技術</label>
      <label class="category-label"><%= f.radio_button :category, 3, class: "age_type_label"%>知識</label>
      <label class="category-label"><%= f.radio_button :category, 4, class: "age_type_label"%>メンタル</label>
      <label class="category-label"><%= f.radio_button :category, 5, class: "age_type_label"%>練習メニュー</label>
      <label class="category-label"><%= f.radio_button :category, 6, class: "age_type_label"%>その他</label>
    </div>
  </div>
  <div class="col-md-2 post-btn">
  <%= f.submit "投稿する", class: "btn btn-primary" %>
  </div>
<% end %>
