<!-- 投稿一覧のフォーム -->
<li id="post-<%= post.id %>">
  <div class="feed-image">
  <%= image_tag @user.image.thumb200.url, class: "feed-circle" %>
  </div>
  <div class="feed-title">
  <span class="title"><%= link_to(post.title, "/posts/#{post.id}") %></span>
  </div>
  <div class="sidebar">
    <span>対象：<%= post.age_type %></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;カテゴリー：<%= post.category %><br></span>
      <%= link_to post.user.name, post.user %>
      <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% like = Like.where(post_id: post.id).count %>
      <i class="fas fa-futbol"></i>
      <%= like %>個
      <% if current_user?(post.user) %>
        <%= link_to "削除", post, method: :delete,
                                    data: { confirm: "You sure?" } %>
      <% end %>
  </div>
  <span>
    参考動画:
    <iframe width="500" height="300" src="https://www.youtube.com/embed/<%= post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>
</li>
