<% provide(:title, @post.title) %>
<div class="container">
  <div class="row">
    <div class="col-md-12 post-show-header">
    <% if @user.image? %>
        <%= image_tag @user.image.thumb50.url, class: "feed-circle" %>
    <% else %>
        <%= image_tag "default.jpg", class: "feed-circle" %>
    <% end %>
      <%= @user.name %>
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>に更新
    </div>
    <div class="col-md-12 post-show-main">
      <div class="post-show-title">
        <%= @post.title %>
      </div>
      <div class="post-show-age-type">
        対象年齢:
        <%= @post.age_type %>
      </div>
      <div class="post-show-categorys">
        カテゴリー:
        <%= @post.category %>
      </div>
    </div>
    <div class="col-md-12 post-show-content">
        <%= raw Rinku.auto_link(@post.content) %>
    </div>
    <% if @post.youtube_url? %>
    <div class="col-md-12 post-show-youtube">
      <div class="youtube-frame">
        参考動画:
        <iframe src="https://www.youtube.com/embed/<%= @post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <% end %>
    <div class="col-md-12 post-show-like">
      <div id="likes_buttons_<%= @post.id %>">
        <%= render partial: 'likes/like', locals: {post: @post} %>
      </div>
      <%= render 'sharering' %>
    </div>
    <div class="col-md-12 post-show-comment">
      <%= render 'comments/comment' %>
    </div>
  </div>
</div>
